.container {
  @include container;
  padding-top: 20px;

  .desc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .fontContainer {
    display: flex;
    justify-content: space-between;

    .font {
      font-size: 180px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .details {
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;

      &:first-child {
        width: 100%;
        max-width: 600px;
      }

      &:last-child {
        width: 100%;
        max-width: 100px;
        text-align: right;

        .columnTitle {
          margin-bottom: 8px;
        }
      }

      .columnTitle {
        color: #919191;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 30px;
      }

      .columnDesc {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: #333;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
