.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: #333;

    .name {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      color: #919191;
      margin-right: 100px;
      position: relative;
      top: -20px;
    }
  }
}
