:root {
  --primary-bg-color: #F8F8F8;
  --secondary-bg-color: #FFFFFF;
  --primary-button-bg-color: #298BFF;
  --secondary-button-bg-color: #C0ECF7;
  --tertiary-button-bg-color: #FFFFFF;
  --primary-form-bg-color: #ffffff;
  --primary-button-hover-bg-color: #ffffff;
  --primary-border-color: #838383;
  --error-border-color: #FF6060;
}
