@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tabletMobile {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }

  @media (max-width: 767px) {
    @content;
  }
}

@mixin mainTitle {
  @include desktop {
    font-size: 120px;
    line-height: 130%;
  }

  @include  tablet {
    font-size: 60px;
    line-height: 130%;
  }

  @include mobile {
    font-size: 60px;
    line-height: 130%;
  }
}

@mixin title {
  color: var(--primary-text-color);

  @include desktop {
    font-size: 30px;
    line-height: 130%;
  }

  @include  tablet {
    font-size: 30px;
    line-height: 130%;
  }

  @include mobile {
    font-size: 24px;
    line-height: 130%;
  }
}

@mixin desc {
  @include desktop {
    font-size: 18px;
    line-height: 130%;
  }

  @include  tablet {
    font-size: 16px;
    line-height: 130%;
  }

  @include mobile {
    font-size: 16px;
    line-height: 130%;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 1200px;

  @include tablet {
    margin: 0 34px ;
  }

  @include mobile {
    margin: 0 16px;
  }
}

@mixin retina-image($image, $image2x, $width, $height) {
  background-image: url($image);
  background-size: $width $height;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url($image2x);
    background-size: $width $height;
  }
}


