:root {
  --primary-text-color: #333333;
  --secondary-text-color: #919191;
  --menu-item-text-color: #5F5F5F;
  --primary-btn-text-color: #ffffff;
  --secondary-btn-text-color: #298BFF;
  --highlighted-text-color: #298BFF;
  --primary-placeholder-color: #BEBEBE;
  --mobile-menu-box-text-color: #fff;
  --error-text-color: #FF6060;
}
