.container {
  padding: 60px;
  max-width: 500px;

  @include mobile {
    padding: 30px 20px;
  }

  .infoTitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--primary-text-color);

    @include mobile {
      font-size: 14px;
    }
  }

 .content {
   max-width: 330px;
   margin: 40px auto 0;

   @include mobile {
     margin: 30px 0 0 0;
     max-width: 100%;
   }

   .item {
     padding: 14px 0;
     border-bottom: 1px solid #ABABAB;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 130%;
     color: var(--secondary-text-color);

     @include mobile {
       font-size: 14px;
     }

     &:last-child {
       border-bottom: none;
     }

     .price {
       color: #298BFF;
       font-size: 24px;
       font-style: normal;
       font-weight: 400;
       line-height: 130%;
       margin-right: 10px;

       @include mobile {
         font-size: 18px;
       }
     }
   }
 }
}
